.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #1377c9;
}
a {
  color: rgba(49, 52, 59, 0.144);
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
